#contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
    /* Full viewport height */
}

.bottom-style {
   
    /* Light background color for contrast */
    padding: 2rem 0;
    /* Padding for spacing */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-a {
    margin: 0 1rem;
    margin-bottom: 10px;
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3s ease;
}


.footer-content p {
    margin-top: 1rem;
    color: #6c757d;
    /* Gray color for copyright text */
}