.dfWTkB {
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  background-color: rgba(252, 246, 244, 0.25);
  padding: 2rem;
  max-width: 100%;
  /* Limit maximum width */
  height: auto;
  /* Auto adjust height */
  line-height: 1.5;
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Center vertically */
  align-items: center;
  /* Center horizontally */
  transition: background-color 0.3s ease, color 0.3s ease;

}


.dfWTkB:hover {
  background-color: #343a40;
  /* Bootstrap dark color */
  color: #fff;
}

.dfWTkB ul li {
  transition: color 0.3s ease;
}

.dfWTkB:hover ul li {
  color: #fff;
}

.dfWTkB h4 {
  white-space: nowrap;
  /* Prevent text from wrapping */
  text-align: center;
  /* Center the text */
  width: 100%;
  /* Ensure it uses full width of the container */
}

.dfWTkB p.description,
.dfWTkB h5,
.dfWTkB ul {
  text-align: center;
  /* Center other text elements for consistency */
}

.descriptions {
  text-align: justify;
}

@media (max-width: 767px) {

  /* Adjust as necessary for your breakpoints */
  .dfWTkB {
    padding: 1rem;
  }
}